 a {color: #eee; text-decoration: none}
a:hover {color: blue;}
body {overflow: auto; overflow-y: auto;
    background-color: white;
    background-attachment: fixed;
    background-position: center;
    background-size: contain;
    margin: 0px;}
#jeeFaceFilterCanvas {
    z-index: 10;
    position: absolute;
    max-height: 100%;
    max-width: 100%;
    left: 50%;
    top: 50%;
    width: 100vmin;
    transform: translate(-50%, -50%) rotateY(180deg);
}
.button {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    padding:7px;
    text-decoration: none;
    color: initial;
}

input[type="button"] {padding:5px;}

.button:hover {color:blue;}

	#flashingGif {
		z-index: 11;
    position: absolute;
    left: 35%;
    top: 20%;
	}

div.buttonAlign {
	z-index: 11;
    position: absolute;
    left: 38%;
    top: 95%;
	}
@media (max-width: 787px) {
    #jeeFaceFilterCanvas {
        right: 0px;
        top: 60px;
        transform: rotateY(180deg);
    }
}

.soulImage {
	height:200px;
	width:200px;
}
.soulForSale{

}
.priceContainers {
	height:18px;
	width:50px;
	background-color: white;
	position:absolute;
	left:120px;
	top:365px;
	z-index: 2;
	padding:3px;

	text-align:center;

}
.buyButton {
	position:absolute;
	left:30px;
	top:360px;
	z-index: 2;
}

.webCamWarn {
	background-color:white;
	color:black;
	font-size:50px;
	padding:none;
	font-weight:900;
	font-family:Arial, Helvetica, sans-serif;
	width:600px;
	text-align:center;
	left: 34%;
    top: 10%;
	position:absolute;
	}
}

.submitter{
  margin: 15px;
  color: #fff;
  font-size: large;
}

input, label{
  margin: 5px;
}

/* start da css for da buttons */
.btn {
  border-radius: 5px;
  padding: 15px 25px;
  font-size: 22px;
  text-decoration: none;
  margin: 20px;
  color: #fff;
  position: relative;
  display: inline-block;
}

.btn:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}

.purple {
  background-color: #9b59b6;
  /*the 15px is how high up the button appears*/
  box-shadow: 0px 15px 0px 0px #82409D;
}

.purple:hover {
  background-color: #B573D0;
}

.purple:active{
  /*when the button is pressed make it go down from 15 to 8px*/
  box-shadow: 0px 8px 0px 0px #82409D;
}
